<br>
<html>
<body>
<table *ngIf="userService.userDetails" class="table-fill">
    <thead>
        <tr>
            <th colspan="3" class="text-center">User Profile</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>First Name</td>
            <td>{{this.userService.userDetails.fullName.split(' ')[0]}}</td>
            <td></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>{{this.userService.userDetails.fullName.split(' ')[1]}}</td>
            <td></td>
        </tr>
        <tr>
            <td>Full Name</td>
            <td>{{this.userService.userDetails.fullName}}</td>
            <td><app-modal-basic></app-modal-basic></td>
            
        </tr>
        <tr>
            <td>Email</td>
            <td>{{this.userService.userDetails.email}} </td> <!--{{userDetails.email}}-->
            <td></td>
        </tr>
        <!--<tr>
            <td>Role</td>
            <td>{{userDetails.role}}</td>
        </tr>-->
        <!--testing purpose for rolematch work-->
       <tr> 
            <td>Role</td>
            <td>{{this.userService.userDetails.role}}</td>
            <td *ngIf="this.userService.userDetails.role =='admin' "><app-modal-change-role></app-modal-change-role>  </td>
           <!--<td *ngIf=" userDetails.role =='reader' ">userDetails.role =='admin' ||
                Admin
            </td>-->
        </tr>
        <tr>
            <td>Password</td>
            <td>********</td> 
            <td><app-modal-change-pass></app-modal-change-pass></td>
        </tr>
         <tr>
            
            <td colspan="3" class="text-center" *ngIf="this.userService.userDetails.role =='admin' ">
               <button type="button" class="btn btn-outline-danger btn-lg" (click)="deleteAccount(this.userService.userDetails._id)">DELETE ACCOUNT</button>
            </td>
            <!--<td colspan="3" class="text-center">
               <input type="button" (click)="onLogout()" value="Logout" />
            </td>-->
         <tr>
            <!--<td>
                <button onclick="window.print()">Print this page</button>
            </td>-->

    </tbody>
  </table>
  <form *ngFor="let dep of departmentService.allDeps">
    <input type="radio" id={{dep.name}} name="department"  [(ngModel)]="department"  value={{dep.name}}> {{dep.name.toUpperCase()}}<br>
  </form> 
  {{department}}
</body>
</html>