<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <h6 style="text-align: center;">Chage Role :</h6>
        <br>
        <!--for reader-->
      <!-- <form #userRoleForm="ngForm" (ngSubmit)="userRoleForm.valid && onSubmit(userRoleForm)" *ngIf="this.userService.userDetails.role =='reader'">
            <p id="radioText">
            <input type="radio" value="admin"  name="role" required #role="ngModel" [(ngModel)]="modelRole.role" >Admin &nbsp;
           <input type="radio" value="reader" name="role" required #role="ngModel" [(ngModel)]="modelRole.role" >Reader
            </p>
            <div *ngIf="userRoleForm.submitted && !role.valid"> 
              <label class="validation-message">Role is required.</label>
             </div>
            <input type="submit" value="Change">
         </form>-->

        <!--for Admin-->
        <div style="text-align: center;">
        <form #userRoleForm="ngForm" (ngSubmit)="userRoleForm.valid && onSubmit(userRoleForm)" *ngIf="this.userService.userDetails.role =='admin'">
         <p id="radioText">
         <!--<input type="radio" value="admin"  name="role" required #role="ngModel" [(ngModel)]="modelRole.role" >Admin &nbsp;-->
         &nbsp;
         <input type="radio" value="reader" name="role" required #role="ngModel" [(ngModel)]="modelRole.role" > Reader &nbsp;
          <input type="radio" value="author" name="role" required #role="ngModel" [(ngModel)]="modelRole.role" > Author
         </p>
         <div *ngIf="userRoleForm.submitted && !role.valid"> 
          <label class="validation-message">Role is required.</label>
        </div>
         <input type="submit" value="Change" >
       </form>
      </div>
  
     <!-- Success message -->
     <div class="success" *ngIf="showSucessMessage">
        Your Role Has been Changed AND Please Log In To Get New Experience !
    </div>
    
    <!-- Error message -->
    <div class="alert" *ngIf="serverErrorMessages">
      {{serverErrorMessages}}
    </div>
    </div>
   <!--<div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>-->
  </ng-template>
  
  <button class="btn btn-outline-info" (click)="open(content)">Edit</button>
  
  <!--<hr>-->
  
  <!--<pre>{{ closeResult }}</pre>-->
