<div class="wrapper fadeInDown">
    <div id="formContent">
      <h2 class="inactive underlineHover">Activate Account</h2>
      <div>
        <img src="/assets/img/activate.png" id="icon" alt="activate Icon" />
      </div>
    <form #resetPasswordForm="ngForm" (ngSubmit)="resetPasswordForm.valid && onSubmit(resetPasswordForm)">
      
      <!-- <input type="text" #token="ngModel" [(ngModel)]="this.userService.resetPassData.resetLink" name="resetLink" placeholder="Token"
        required  [ngClass]="{'invalid-textbox' :resetPasswordForm.submitted && !token.valid }">
        <div *ngIf="resetPasswordForm.submitted && !token.valid">
          <label class="validation-message">This field is required.</label>
        </div>-->
        <input type="password" name="newPassword" #password="ngModel" [(ngModel)]="tempModel.newPassword" placeholder="New Password" required minlength="4"
          [ngClass]="{'invalid-textbox' :resetPasswordForm.submitted && !password.valid }">
        <div *ngIf="resetPasswordForm.submitted && password.errors?.minlength">
          <label class="validation-message">Minimum 4 characters.</label>
        </div>
        <input type="password" name="confirmPassword" #password="ngModel" [(ngModel)]="tempModel.confirmPassword" placeholder="Confirm Password" required minlength="4"
          [ngClass]="{'invalid-textbox' :resetPasswordForm.submitted && !password.valid }">
        <div *ngIf="resetPasswordForm.submitted && password.errors?.minlength">
          <label class="validation-message">Minimum 4 characters.</label>
        </div>
        <input type="submit" value="Activate">

      </form>
    <!--  <input type="button" (click)="sendActivateToken()" value="Activate" />-->

      <!-- Success message -->
      <div class="success" *ngIf="showSucessMessage">
         Account Activated Please Log in !
         <input type="button" (click)="toLogin()" value="LogIn" />
      </div>
      
      <!-- Error message -->
      <div class="alert" *ngIf="serverErrorMessages">
        <!--{{emailToken.token}}-->
         {{serverErrorMessages}}
      </div>
     
    </div>
  </div>


