<br>
<div class="container-fluid border">
<br>
<div class="row">
  <div class="column a">
    <h4>Add Department</h4>
    <div class="container pt-3">
      <div style="text-align: center">
        <input type="text" [(ngModel)]="addDepModel.name"  placeholder="Department Name"  />&nbsp;<button type="button"  (click)="onAdd()" class="btn btn-outline-info"><i class="fa fa-plus" aria-hidden="true"></i></button>
      </div>
    <br>
    
   <!-- Success message -->
   <div class="success" *ngIf="showSucessMessage">
     Department Added !
  </div>
  
  <!-- Error message -->
  <div class="alert" *ngIf="serverErrorMessages">
    {{serverErrorMessages}}
  </div>
  </div>
 </div>
  <div class="column a">
    <h4>View Departments</h4>
    <p id="demo"></p>
    <div class="table-responsive-sm" style="height:400px;overflow:auto;">
      <table class="responsive-table highlight">
          <tr *ngFor="let dep of depService.allDeps">
            <td>{{dep.name.toUpperCase()}}</td>
            <td>{{depService.getDate(dep.createdAt)}}</td>
            <td><button type="button" (click)="onCount(dep._id,dep.name)"  class="btn btn-outline-info">Info</button></td><!--{{onCount(dep._id)}}-->
            <td><button type="button"  (click)="onDel(dep._id)" class="btn btn-outline-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
            
          </tr>
        </table>
  </div>
  <br>
   <!-- Success message -->
   <div class="success" *ngIf="showSucessMessageList">
    Department Removed !
   </div>
 
  <!-- Error message -->
  <div class="alert" *ngIf="serverErrorMessagesList">
    {{serverErrorMessages}}
  </div>
   
  </div>
</div>

<br>
</div>
<br>