<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Message</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div>
            <h4>{{messageService.passSBody}}</h4>
            <br>
           <!-- <ul *ngFor="let attachment of messageService.attachments">
              <li>{{splitName(attachment)}}&nbsp;<button type="button" class="btn btn-outline-info"><a href="{{getLink(attachment)}}"  target="_blank">View</a></button></li>
           </ul>-->
           <div class="col s7" style="height:150px;overflow:auto;">
           <table class="responsive-table highlight">
            <tr *ngFor="let attachment of messageService.attachments">
              <td>{{splitName(attachment)}}</td>
              <td><button type="button" class="btn btn-outline-info"><a href="{{getLink(attachment)}}"  target="_blank">View</a></button></td>
            </tr>
          </table>
        </div>
        </div>
    </div>
  </ng-template>
  
  <button class="btn btn-outline-info" (click)="open(content)">View</button>
  
  
