<br>
<h5 style="text-align: center;"  *ngIf="this.manageApprovment.approveDataCount==0">You Don't Have Any Request</h5>
<div class="table-responsive" *ngIf="this.manageApprovment.approveDataCount !=0 && manageApprovment.approveData">
    <table class="responsive-table highlight ">
        <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Size(Mb)</th>
            <th>Category</th>
            <th>Department</th>
            <th>CreatedBy</th>
            <th>File</th>
            <th>CreatedAt</th>
          </tr>
        </thead>
        <tr *ngFor="let doc of manageApprovment.approveData | slice: (page-1) * pageSize : page * pageSize;index as i">
          <td>{{doc.name}}</td>
          <td>{{doc.type}}</td>
          <td>{{byteToMb(doc.size)}}</td>
          <td>{{doc.category}}</td>
          <td>{{doc.department}}</td>
          <td>
            <app-popup-userprofile (click)="getUserEmail(doc.createdBy)"></app-popup-userprofile>
          </td>
          <td>
            <button type="button" class="btn btn-outline-info"><a href="{{getLink(doc.file)}}"  target="_blank">View</a></button>
          </td>
          <td>{{userService.getDate(doc.createdAt)}}</td>
          <td>
            <app-reject-popup-model (click)="passReject(doc._id)"></app-reject-popup-model>
            <button type="button" class="btn btn-outline-success" (click)="toAccept(doc._id)">Approve</button>
            <app-model-unlock (click)="passFileId(doc._id) " *ngIf="doc.isLock===true && (doc.createdBy===this.userService.userDetails._id || this.role==='admin') " ></app-model-unlock>
            <app-model-set-pass (click)="passFileId(doc._id)" *ngIf="doc.isLock===null && (doc.createdBy===this.userService.userDetails._id || this.role==='admin') " ></app-model-set-pass>
          </td>
        </tr>
      </table>
      <br>
      <div class="center">
        <ngb-pagination [(page)]="page"  [collectionSize]="manageApprovment.approveData.length" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
    </div>
</div>