<br>
<div class="container-fluid border">
<br>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <h2 class="inactive underlineHover">Register </h2>
    <div>
      <img src="/assets/img/users.png" id="icon" alt="User Icon" />
    </div>
    <form #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)">
     <!-- <input type="text" #userName="ngModel" [(ngModel)]="userService.selectedUser.userName" name="userName" placeholder="User Name"
      required  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !userName.valid }">
      <div *ngIf="signUpForm.submitted && !userName.valid">
        <label class="validation-message">This field is required.</label>
      </div>-->
      <input type="text" #fullName="ngModel" [(ngModel)]="userService.selectedUser.fullName" name="fullName" placeholder="Full Name"
      required  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !fullName.valid }">
      <div *ngIf="signUpForm.submitted && !fullName.valid">
        <label class="validation-message">This field is required.</label>
      </div>
      <input type="text" #email="ngModel" [(ngModel)]="userService.selectedUser.email" name="email" placeholder="Email"
      required [pattern]="emailRegex"  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !email.valid }">
      <div *ngIf="signUpForm.submitted && email.errors">
        <label *ngIf="email.errors.required" class="validation-message">This field is required.</label>
        <label *ngIf="email.errors.pattern" class="validation-message">Invalid email address.</label>
      </div>
      <input type="password" #password="ngModel" [(ngModel)]="userService.selectedUser.password" name="password" placeholder="Password"
      minlength="4" required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !password.valid }">
      <div *ngIf="signUpForm.submitted && password.errors">
        <label *ngIf="password.errors.required" class="validation-message">This field is required.</label>
        <label *ngIf="password.errors.minlength" class="validation-message">Enter atleast 4 characters.</label>
      </div>
      <br>
      <br>
      <!--For department-->
     <!-- <input type="text" #department="ngModel" [(ngModel)]="userService.selectedUser.department" name="department" placeholder="Department"
      required  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !department.valid }">
      <div *ngIf="signUpForm.submitted && !department.valid">
        <label class="validation-message">This field is required.</label>
      </div>-->
     
     <!--<h5 id="radioText">Select Department:</h5>-->
   <!-- <div style="height:200px;overflow:auto;">
      <table class="responsive-table highlight centertb" id="radioText" >
        <tr *ngFor="let dep of departmentService.allDeps">
         <td><input type="radio" id={{dep.name}}  required #department="ngModel"    name="department"  [(ngModel)]="userService.selectedUser.department"  value={{dep.name}}>
         
        </td>
         <td>{{dep.name.toUpperCase()}}</td>
         <td  *ngIf="signUpForm.submitted && !department.valid">
            <label class="validation-message">Department is required.</label>
         </td>
        </tr>
      </table>
     
    </div>-->
    <div ngbDropdown class="d-inline-block" >
      <button class="btn btn-outline-info" id="dropdownBasic1" ngbDropdownToggle >{{depName}}</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="max-height:150px;overflow-y: auto;" >
        <button ngbDropdownItem required #department="ngModel" *ngFor="let dep of  this.departmentService.allDeps"  (click)="passNameDep(dep.name.toUpperCase())" (click)="setUserDepartment(dep.name)" [(ngModel)]="userService.selectedUser.department" value="dep.name" >{{dep.name.toUpperCase()}}</button>
      </div>
      <div *ngIf="signUpForm.submitted  && this.userService.selectedUser.department == '' ">
        <label class="validation-message">Department is required.</label>
      </div>
    </div>
    <br>
    <br>
    <div ngbDropdown class="d-inline-block" >
      <button class="btn btn-outline-info" id="dropdownBasic2" ngbDropdownToggle >{{desigName}}</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="max-height:150px;overflow-y: auto;" >
        <button ngbDropdownItem  required #position="ngModel" *ngFor="let post of  this.positionService.allPositions"  (click)="passNamePost(post.name.toUpperCase())" (click)="setUserDesignation(post.name)" [(ngModel)]="userService.selectedUser.position" value="post.name">{{post.name.toUpperCase()}}</button>
      </div>
      <div *ngIf="signUpForm.submitted  && this.userService.selectedUser.position == '' ">
        <label class="validation-message">Designation is required.</label>
      </div>
    </div>
      <!--<h5 id="radioText">Select Designation:</h5>
      <div style="height:200px;overflow:auto;">
        <table class="responsive-table highlight centertb" id="radioText" >
          <tr *ngFor="let post of positionService.allPositions">
           <td><input type="radio" id={{post.name}}  required #position="ngModel"    name="position"  [(ngModel)]="userService.selectedUser.position"  value={{post.name}}>
          </td>
           <td>{{post.name.toUpperCase()}}</td>
           <td  *ngIf="signUpForm.submitted && !position.valid">
              <label class="validation-message">Designation is required.</label>
           </td>
          </tr>
        </table>
        </div>-->
      <br>
      <br>
      <!--For role -->
      <p id="radioText">
      <input type="radio" value="admin"  name="role" required #role="ngModel" [(ngModel)]="userService.selectedUser.role" >Admin &nbsp;
      <input type="radio" value="reader" name="role" required #role="ngModel" [(ngModel)]="userService.selectedUser.role" >Reader &nbsp;
      <input type="radio" value="author" name="role" required #role="ngModel" [(ngModel)]="userService.selectedUser.role" >Author
      </p>
      <span *ngIf="signUpForm.submitted && !role.valid"> 
        <label class="validation-message">Role is required.</label>
      </span>
      <br>
      <input type="submit" value="Register">
    </form>
    
    <!-- Success message -->
    <div class="success" *ngIf="showSucessMessage">
      Please Confirm Email
    </div>
    
    <!-- Error message -->
    <div class="alert" *ngIf="serverErrorMessages">
      {{serverErrorMessages}}
    </div>
  </div>
</div>


<br>
</div>
<br>