* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  /*height: 300px;  Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

div.a {
  text-align: center;
}
div.l{
  text-align:left;
}
div.r{
  text-align:right;
}

.centera {
  border: 5px solid transparent;
  display: flex;
  justify-content: center;
  }

  .center1 {
    border: 5px solid transparent;
    display: flex;
    justify-content: center;
    }

 .centerb {
  border:transparent;
  display: flex;
 justify-content: center;
}