<br>
    <div *ngIf="this.workflow.workflowDataCount== 0">
        <h5 style="text-align: center;">Empty List!</h5>
    </div>
    <div class="centertb">
      <div style="text-align: center" *ngIf="this.workflow.workflowDataCount != 0">
        <input type="text" [(ngModel)]="sNameM" (input)="search()" (keydown)="onKeydown($event)" placeholder="Search here"  /><!--(keydown)="onKeydown($event)"-->
      </div>
      </div>
    <div class="table-responsive " *ngIf="this.workflow.workflowDataCount != 0 && this.workflow.workflowDataList">
      <div style="text-align: right;">
        <button type="button" class="btn btn-outline-primary"  (click)="printReady()" data-toggle="tooltip" data-placement="top" title="Ready For Print"><i class="fa fa-list" aria-hidden="true"></i></button>&nbsp;
        <button type="button" *ngIf="this.printReadyOk==true;" class="btn btn-outline-primary"  printSectionId="listId" printTitle="NEW WORKFLOW LIST" styleSheetFile="assets/tablePrint.css" ngxPrint data-toggle="tooltip" data-placement="top" title="Print"><i class="fa fa-print" aria-hidden="true"></i></button>&nbsp;
        <button type="button" *ngIf="this.resetBackVici==true;" class="btn btn-outline-primary"  (click)="resetBack()"><i class="fa fa-repeat" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Reset"></i></button>&nbsp;
      </div>
      <br>
      <div id="listId">
        <table class="responsive-table highlight table-lg ">
            <thead>
              <tr>
                <th style="text-align:center">Name</th>
                <th style="text-align:center">Type</th>
                <th style="text-align:center">Size(Mb)</th>
                <th style="text-align:center">Category</th>
                <th style="text-align:center">Department</th>
                <th style="text-align:center">CreatedBy</th>
                <th style="text-align:center">Workflow Next</th>
                <th style="text-align:center">Workflow List</th>
                <th style="text-align:center" *ngIf="notPrint == true">File</th>
                <th style="text-align:center">CreatedAt</th>
                <th style="text-align:center">Last Update</th>
                <th style="text-align:center" *ngIf="notPrint == true">Options</th>
              </tr>
            </thead>
            <tr *ngFor="let doc of this.workflow.workflowDataList | slice: (page-1) * pageSize : page * pageSize;index as i">
              <td>{{doc.name}}</td>
              <td>{{doc.type}}</td>
              <td>{{byteToMb(doc.size)}}</td>
              <td>{{doc.category}}</td>
              <td>{{doc.department}}</td>
              <td *ngIf="this.printReadyOk==true">{{doc.createdBy}}</td>
              <td *ngIf="notPrint == true">
                <app-popup-userprofile (click)="getOtherUserdetailesById(doc.createdBy)"></app-popup-userprofile> <app-model-sent-msg (click)="toPassToId(doc.createdBy)"></app-model-sent-msg>
              </td>
              <td *ngIf="this.printReadyOk==true">{{doc.workflowNext}}</td>
              <td *ngIf="notPrint == true">
                <app-popup-userprofile (click)="getOtherUserdetailesByMail(doc.workflowNext)"></app-popup-userprofile>
                <app-model-sent-msg (click)="toPassToEmail(doc.workflowNext)"></app-model-sent-msg>
              </td>
              <td *ngIf="this.printReadyOk==true">{{doc.workFlowList}}</td>
              <td *ngIf="notPrint == true">
                <app-model-view-list (click)="toPassListandNext(doc.workFlowList,doc.workflowNext,doc.workflowData)"></app-model-view-list>
              </td>
              <td *ngIf="notPrint == true">
                <button type="button" class="btn btn-outline-info"  *ngIf="doc.isLock===null"><a href="{{getLink(doc.file)}}"  target="_blank">View</a></button>
              </td>
              <td>{{this.workflow.getDate(doc.createdAt)}}</td>
              <td>{{this.workflow.getDate(doc.updatedAt)}}</td>
              <td *ngIf="notPrint == true">
                <app-model-unlock (click)="passFileId(doc._id) " *ngIf="doc.isLock===true && (doc.createdBy===this.userService.userDetails._id || this.role==='admin') " ></app-model-unlock>
                <app-model-set-pass (click)="passFileId(doc._id)" *ngIf="doc.isLock===null && (doc.createdBy===this.userService.userDetails._id || this.role==='admin') " ></app-model-set-pass>
                <app-model-doc-update (click)="passFilePathandId(doc._id,doc.catPath)" *ngIf="doc.isLock===null"></app-model-doc-update>
                <button type="button" class="btn btn-outline-info btn-lg" (click)="toValidate(doc._id)" data-toggle="tooltip" data-placement="top" title="Validate"><i class="fa fa-check" aria-hidden="true"></i></button>
              </td>
            </tr>
          </table>
          </div>
          <br>
          <div class="center">
            <ngb-pagination [(page)]="page"  [collectionSize]="workflow.workflowDataList.length" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
        </div>
    </div>