<div class="wrapper">
    <div id="formContent">
      <div>
        <img src="assets/img/unlock.jpg" id="icon" alt="key Icon" />
      </div>
      <form #forgetPassForm="ngForm" (ngSubmit)="forgetPassForm.valid && onSubmit(forgetPassForm)">
        <input type="text" name="email" #email="ngModel" [(ngModel)]="model.email" placeholder="Email" [pattern]="emailRegex" required
        [ngClass]="{'invalid-textbox' :forgetPassForm.submitted && !email.valid }">
        <div *ngIf="forgetPassForm.submitted && email.errors?.pattern">
           <label class="validation-message">Invalid email address.</label>
        </div>
        <input type="submit" value="Confirm">
      </form>
      <!-- Success message -->
      <div class="success" *ngIf="showSucessMessage">
        Please Check Email!
      </div>
      <!-- Error message -->
     <div class="alert" *ngIf="serverErrorMessages">
        {{serverErrorMessages}}
      </div>
      
    </div>
  </div>