<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<br>
<div class="container-fluid border">
    <br>
    <div class="btn-group">
        <button type="button" class="btn btn-primary" (click)="manageDocMainService.viewDocs()" data-toggle="tooltip" data-placement="top" title="View Documents"><i class="fa fa-files-o" aria-hidden="true"></i></button>
        <button type="button" class="btn btn-primary" (click)="manageDocMainService.openUpload()" *ngIf="this.role=='admin' || this.role=='author' " data-toggle="tooltip" data-placement="top" title="Upload"><i class="fa fa-upload" aria-hidden="true"></i></button>
        <button type="button" class="btn btn-primary" (click)="manageDocMainService.openArchived()" *ngIf="this.role=='admin'" data-toggle="tooltip" data-placement="top" title="View Archived"><i class="fa fa-archive" aria-hidden="true"></i></button>
        <button type="button" class="btn btn-primary" (click)="manageDocMainService.openManageCategory()" *ngIf="this.role=='admin' || this.role=='author' " data-toggle="tooltip" data-placement="top" title="Manage Category"><i class="fa fa-folder-o" aria-hidden="true"></i></button>
        <button type="button" class="btn btn-primary" (click)="manageDocMainService.openSubONly()" *ngIf="this.role=='admin' || this.role=='author' " data-toggle="tooltip" data-placement="top" title="Manage Sub Category"><i class="fa fa-folder-open-o" aria-hidden="true"></i></button>
        <button type="button" class="btn btn-primary" (click)="manageDocMainService.openApprovement() " *ngIf="this.role=='admin' " data-toggle="tooltip" data-placement="top" title="Manage File Approve"><i class="fa fa-handshake-o" aria-hidden="true"></i></button>
        <button type="button" class="btn btn-primary" (click)="manageDocMainService.openWorkflow() " *ngIf="this.role=='admin' " data-toggle="tooltip" data-placement="top" title="Manage Workflow Data"><i class="fa fa-sitemap" aria-hidden="true"></i></button>
      </div>
    <br>
    <div>
        <app-manage-docs *ngIf="this.manageDocMainService.tOfuploadDocs==true"></app-manage-docs>
        <app-upload-doc *ngIf="this.manageDocMainService.tOfViewUpload==true"></app-upload-doc>
        <app-view-docs *ngIf="this.manageDocMainService.tOfViewDocs==true"></app-view-docs>
        <app-category-and-sub *ngIf="this.manageDocMainService.tOfViewCategoryAndSub==true"></app-category-and-sub>
        <app-sub-cat-only *ngIf="this.manageDocMainService.tOfViewSubOnly==true"></app-sub-cat-only>
        <app-manage-approvement *ngIf="this.manageDocMainService.tOfViewApprovement==true"></app-manage-approvement>
        <app-archived-docs *ngIf="this.manageDocMainService.tOfViewArchived==true"></app-archived-docs>
        <app-work-flow *ngIf="this.manageDocMainService.tofViewWorkflow==true"></app-work-flow>
    </div>
 
</div>

