<br>
<div class="container-fluid border">
<br>
<div *ngIf="this.cTodayArcUsers == 0">
  <h5 style="text-align: center;">Empty List!</h5>
</div>
<br>
<div style="text-align: center" class="centertb" *ngIf="this.cTodayArcUsers != 0">
  <input type="text" [(ngModel)]="arcName" (input)="search()" (keydown)="onKeydown($event)" placeholder="Search here" />
</div>
<br>
<div class="table-responsive" *ngIf="this.cTodayArcUsers != 0">
  <div style="text-align: right;">
    <button type="button" class="btn btn-outline-primary"  (click)="printReady()" data-toggle="tooltip" data-placement="top" title="Ready For Print"><i class="fa fa-list" aria-hidden="true"></i></button>&nbsp;
    <button type="button" *ngIf="this.printReadyOk==true;" class="btn btn-outline-primary"  printSectionId="listId" printTitle="TODAY ARCHIVED USER LIST" styleSheetFile="assets/tablePrint.css" ngxPrint data-toggle="tooltip" data-placement="top" title="Print"><i class="fa fa-print" aria-hidden="true"></i></button>&nbsp;
    <button type="button" *ngIf="this.resetBackVici==true;" class="btn btn-outline-primary"  (click)="resetBack()"><i class="fa fa-repeat" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Reset"></i></button>&nbsp;
  </div>
  <br>
  <div id="listId">
    <table class="responsive-table highlight ">
        <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Role</th>
              <th>Department</th>
              <th>Designation</th>
              <th>Created Date</th>
              <th>Archived By</th>
              <th>Archived Date</th>
            </tr>
          </thead>
          <tr *ngFor="let aUser of audit.allArcUsersToday | slice: (page-1) * pageSize : page * pageSize ;index as i">
            <td>{{aUser.fullName}}</td>
            <td>{{aUser.email}}</td>
            <td>{{aUser.role}}</td>
            <td>{{aUser.department}}</td>
            <td>{{aUser.position}}</td>
            <td>{{userService.getDate(aUser.uCreatedAt)}}</td>
            <td *ngIf="this.printReadyOk==true">{{aUser.arcBy}}</td>
            <td *ngIf="notPrint == true"><app-popup-userprofile (click)="getOtherUserdetailesById(aUser.arcBy)"></app-popup-userprofile></td>
            <td>{{userService.getDate(aUser.createdAt)}}</td>
          </tr>
      </table>
    </div>
    <br>
      <div class="center">
      <ngb-pagination [(page)]="page"  [pageSize]="pageSize"  [collectionSize]="audit.allArcUsersToday.length" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
     </div>
</div>

<br>
</div>
<br>