<br>
<div *ngIf="this.userService.otherUserCount == 0">
  <h5 style="text-align: center;">Empty List!</h5>
</div>
<div *ngIf="this.userService.otherUserCount != 0">
<div style="text-align: center" class="centertb">
<input type="text" [(ngModel)]="sName" (input)="search()" placeholder="Search here" />
</div>
<br>
<div class="col s7" style="height:500px;overflow:auto;">
    <table class="responsive-table highlight">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Department</th>
            <th>Designation</th>
            <th>Created Date</th>
            <th>Last Active</th>
            <th>Status</th>
            <th>Options</th>
          </tr>
        </thead>
        <tr *ngFor="let user of userService.allUsers">
          <td>{{user.fullName}}</td>
          <td>{{user.email}}</td>
          <td>{{user.role}}</td>
          <td>{{user.department}}</td>
          <td>{{user.position}}</td>
          <td>{{getDate(user.createdAt)}}</td>
          <td>{{getDate(user.lastActive)}}</td>
          <td>{{user.status}}</td>
          
         <td>
              <!--*ngIf="user.role=='admin'"-->
              <a (click)="getUserId(user._id)" (click)="getOtherUserRole(user.role)" (click)="departmentService.refreshDepsList(user._id)" (click)="positionService.refreshPostList(user._id)">
                <app-model-for-other-user-role></app-model-for-other-user-role>
              </a>
              <a class="btn btn-outline-danger" (click)="onDelete(user._id)">
                <i class="bi bi-trash">Delete</i>
              </a>
              <button type="button" (click)="toArchive(user.email)" class="btn btn-outline-warning">Archive</button>
         </td>
        </tr>
      </table>
</div>
</div>