<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Message</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div>
            <h5>{{messageService.passRBody}}</h5>
        </div>
        <br>
        <br>
      <div class="col s7" style="height:100px;overflow:auto;">
       <table class="responsive-table highlight">
        <tr *ngFor="let attachment of messageService.recivedAttachments">
          <td>{{splitName(attachment)}}</td>
          <td><button type="button" class="btn btn-outline-info"><a href="{{getLink(attachment)}}"  target="_blank">View</a></button></td>
        </tr>
      </table>
     </div>
        <div>
          <h4>Reply:</h4> <textarea matInput rows="5" cols="50" [(ngModel)]="this.messageService.replyModel.msgBody"></textarea>
        </div>
        <div>
          <input type="file"   #takeInput name="files" multiple (change)="selectMultipleFiles($event)" /> 
        </div>
        <br>
        <div>
          <button type="button" (click)="onSend()" class="btn btn-outline-success">Send</button>
        </div>
        <br>
          <!-- Success message -->
          <div class="success" *ngIf="showSucessMessage">
            Message Send !
           </div>
      
           <!-- Error message -->
          <div class="alert" *ngIf="serverErrorMessages">
            {{serverErrorMessages}}
          </div>
    </div>
  </ng-template>
  
  <button class="btn btn-outline-info" (click)="open(content)">View</button>
  
  
